.highlight {
	color: #2d32da;
	font-weight: bold;
}

.surname-box {
	color: #101010;
	font-size: 1em;
}

.name-box {
	color: navy;
	font-size: 1.5em;
}

table.dataTable thead .sorting {
	background-image: url("../img/sort_both.png")
}

table.dataTable thead .sorting_asc {
	background-image: url("../img/sort_asc.png")
}

table.dataTable thead .sorting_desc {
	background-image: url("../img/sort_desc.png")
}

table.dataTable thead .sorting_asc_disabled {
	background-image: url("../img/sort_asc_disabled.png")
}

table.dataTable thead .sorting_desc_disabled {
	background-image: url("../img/sort_desc_disabled.png")
}

.template-item.template-item-visible {
	display: block;
}

.template-item.template-item-invisible {
	display: none;
}

.template-invisible {
	display: none;
}